html {
  max-width: 1600px;
  max-height: 900px;
  margin: 0 auto;
  font-family: Montserrat;
}

header {
  background: linear-gradient(to bottom, #EDA418 47%, white);
  padding-left: 130px;
  padding-right: 217px;
  padding-bottom: 105px;
  padding-top: 105px;
}

.navigation {
  font-size: 25px;
}

a.nav-link.active {
  margin-left: 150px;
  
}

a.nav-link {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
}

.container-fluid.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  align-items: baseline !important;
}

.news {
  display: flex; 
  width: 100%;
  justify-content: space-between;
}

.marketing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.marketing p:first-child {
  font-size: 32px;
  font-weight: 800;
}

main {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding-left: 87px;
  padding-right: 87px;
}

h2 {
  text-align: center;
  font-size: 45px;
}

.card-title {
  text-align: center;
  font-size: 35px;
}

footer {
  text-align: center;
  background: linear-gradient(to top, #EDA61D, white);
  padding-top: 157px;
  padding-bottom: 75px;
}

.copyright {
  padding: 45px 0 17px;
   font-size: 20px;
}

#social {
  max-width: 60px;
  max-height: 60px;
}